<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row justify-content-between">
        <div class="col-sm-6">
          <h1 class="m-0">Point of Sell</h1>
        </div>
        <div class="float-right">
          <button mat-raised-button color="primary">
            <mat-icon>add</mat-icon>New Customer
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <section class="content">
            <app-pos-categories *ngIf="displayOption" (displayOptionEvent)="setDisplayOption($event)" (categoryIdEvent)="setCategoryId($event)"></app-pos-categories>
            <app-pos-products *ngIf="!displayOption"  (displayOptionEvent)="setDisplayOption($event)"  (addProductToCartEvent)="addProductToCart($event)" [categoryId]="categoryId"></app-pos-products>
        </section>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="card cart">
          <div class="card-header">
            <div class="card-title icheck-primary">
              <input type="checkbox" value="" id="check1" />
              <label for="check1"></label>
            </div>
            <div class="card-tools">
              <div class="input-group" style="width: auto">
                <input
                  type="text"
                  name="table_search"
                  class="form-control float-right"
                  placeholder="Search"
                />
                <div class="input-group-append">
                  <button type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body cart-body">
            <div *ngFor="let product of productCartList; let i = index">
              <div class="row cart-item">
                <div class="col-lg-1">
                  {{1+i}}
                </div>
                <div class="col-lg-11">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="d-flex justify-content-md-between">
                        <div>
                          <span class="item_no mr-3">
                            <i
                              class="left fas fa-angle-right fa-lg"
                              (click)="hideItem[i] = !hideItem[i]"
                              [hidden]="hideItem[i]"
                            ></i>
                            <i
                              class="left fas fa-angle-down fa-lg"
                              (click)="hideItem[i] = !hideItem[i]"
                              [hidden]="!hideItem[i]"
                            ></i>
                          </span>
                          <span class="item_no mr-2">{{product.quantityToSell}}</span>
                          {{ product.name }}
                        </div>
                        <div>
                          <span class="mr-3">{{product.quantityToSell * product.sellingPrice}}</span>
                          <span class="item_no">
                            <i
                              class="fa fa-trash red-text delete-button"
                              aria-hidden="true"
                            ></i>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12" [hidden]="!hideItem[i]">
                      <div class="row pt-1">
                        <div class="d-flex justify-content-md-between">
                          <div class="col-lg-6">
                            <span class="cart-input-header">Quantity</span>
                            <input
                              value={{product.quantityToSell}}
                              type="text"
                              class="form-control cart-input"
                              [(ngModel)]="product.quantityToSell"
                            />
                          </div>
                          <div class="col-lg-6">
                            <span class="cart-input-header">Unit Price</span>
                            <input
                              value={{product.sellingPrice}}
                              type="text"
                              class="form-control cart-input"
                              (input)="product.sellingPrice=getValue($event)"
                            />
                          </div>
                          <!-- <div class="col-lg-4">
                            <span class="cart-input-header">Discount</span>
                            <input
                              type="text"
                              class="form-control cart-input"
                              [(ngModel)]="product.discount"
                            />
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-md-between total">
              <p class="total-text">Total</p>
              <p>200</p>
            </div>
            <button mat-raised-button class="btn btn-success checkout-btn mt-1">
              Check Out
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
