.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.categories {
  list-style-type: none;
  font-size: 16px;
}
h3 {
  font-size: 24px;
}
.button-end {
  position: absolute;
  top: 24px;
  right: 20px;
  bottom: 24px;
}
