<div class="content-wrapper">

  <div class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h1 class="m-0">Point of Sell</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">

        <section class="content">
          <div class="card">

            <div class="card-header pb-0">
              <div class="row m-0 p-0">
                <div class="col-lg-6 col-6">
                  <h2 class="category-header">Categories</h2>
                </div>
                <div class="col-lg-6 col-6">
                  <mat-form-field appearance="outline" class="m-0">
                    <mat-label>Search Category</mat-label>
                    <input matInput placeholder="Ex. Watch" #input>
                  </mat-form-field>
                </div>
              </div>
            </div>


            <div class="card-body">
              <div class="align-items-center">
                <div class="row">

                  <ng-container *ngFor="let category of categoriesArray; let i = index">
                    <div class="col-12 col-sm-6 col-md-4 ">
                      <div class="info-box mb-3 elevation-4 category-card">
                        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-basket"></i></span>
                        <div class="info-box-content">
                          <span class="info-box-number">{{category.categoryName}}</span>
                          <a href="#" class="info-box-text">View Products <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </ng-container>

                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
