<h3 mat-dialog-title><strong>{{action}} Employee</strong> </h3>

<div mat-dialog-content>
  <div *ngIf="action != 'Delete'; else elseTemplate">
    <mat-form-field class="full-width">
      <input placeholder="Name:" matInput [(ngModel)]="employee_data.name">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input placeholder="Email:" matInput [(ngModel)]="employee_data.email">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input placeholder="Phone:" matInput [(ngModel)]="employee_data.phone">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Role</mat-label>
      <mat-select [(value)]="roleId" [(ngModel)]="employee_data.role">
        <mat-option *ngFor="let role of roles" [value]="role.id">
          {{role.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <ng-template #elseTemplate>
    Sure to delete <b>{{employee_data.name}}?</b>
  </ng-template>
</div>
<div mat-dialog-actions align="end" class="row">
  <button mat-button class="btn btn-success" (click)="doAction()">{{action}}</button>
  <button mat-button mat-dialog-close>Cancel</button>
</div>
