<div class="content-wrapper">

  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2 justify-content-between">
        <div class="col-sm-6">
          <h1>Balances</h1>
        </div>
        <div class="col-sm-6">
          <mat-form-field class="float-right p-0 m-0" appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Watch" #input>
          </mat-form-field>
        </div>
      </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">

          <div class="card">
            <div class="card-body">
              <ul class="notification px-1">
                <li *ngFor="let balance of (balances.data| slice: lowValue : highValue); let i = index">
                  <div class="mat-elevation-z5 py-3 px-4 mb-3 rounded-lg d-flex justify-content-md-between">
                    <div class="index align-self-center ml-3">
                      {{1+i + (paginator.pageIndex * paginator.pageSize)}}
                    </div>
                    <div>Customer:<br><span class="header align-self-center">{{balance.customer}}</span></div>
                    <div>Total:<br><span class="header align-self-center">{{balance.totalCost}}</span></div>
                    <div>Paid:<br><span class="header align-self-center">{{balance.cashPaid}}</span></div>
                    <div>Balance:<br><span class="header align-self-center">{{balance.balance}}</span></div>
                    <div>Last Paid:<br><span class="header align-self-center">{{balance.modifiedOn}}</span></div>
                    <div>
                      <button mat-raised-button class="btn btn-success" [routerLink]="['/posBalancesPayment', balance.id]">
                        Clear Balance
                      </button>
                    </div>
                  </div>
                </li>
              </ul>

              <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                (page)="getPaginatorData($event)" showFirstLastButtons>
              </mat-paginator>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
