<h3 mat-dialog-title *ngIf="action != 'Add Stock'; else elseAddStock">
  <strong>{{action}} Product</strong>
</h3>

<ng-template #elseAddStock>
  <h3 mat-dialog-title>
    <strong>Add {{product_data.name}} Stock</strong>
  </h3>
</ng-template>

<div mat-dialog-content>
  <div *ngIf="action != 'Delete' && action != 'Add Stock'; else elseTemplate">
    <mat-form-field class="full-width">
      <input placeholder="Name:" matInput [(ngModel)]="product_data.productName">
    </mat-form-field>

    <mat-form-field *ngIf="action != 'Edit'; else elseEdit" class="full-width">
      <mat-label>Category</mat-label>
      <mat-select [(value)]="categoryId" [(ngModel)]="product_data.categoryId">
        <mat-option *ngFor="let category of categories" [value]="category.categoryId">
          {{category.categoryName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <ng-template #elseEdit>
      <mat-form-field class="full-width">
        <mat-label>Category</mat-label>
        <mat-select [(value)]="categoryId">
          <mat-option *ngFor="let category of categories" [value]="category.categoryId">
            {{category.categoryName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-template>

    <mat-form-field class="full-width">
      <input placeholder="Buying Price:" matInput [(ngModel)]="product_data.buyingPrice">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input placeholder="Selling Price:" matInput [(ngModel)]="product_data.sellingPrice">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input placeholder="Max Discount:" matInput [(ngModel)]="product_data.maxDiscount">
    </mat-form-field>

    <div mat-dialog-title *ngIf="action != 'Add';">
      <button *ngIf="product_data.status == 'Active'; else elseDeactivate" mat-button class="btn btn-danger full-width">
        De-activate Product
      </button>
    </div>

    <ng-template #elseDeactivate>
      <button mat-button class="btn btn-success full-width">Activate Product</button>
    </ng-template>

  </div>

  <ng-template #elseTemplate>
    <div *ngIf="action != 'Delete'; else elseDelete">
      <mat-form-field class="full-width">
        <input placeholder="Name:" matInput [(ngModel)]="product_data.name" [readonly]="true">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input placeholder="Current Stock:" matInput [(ngModel)]="product_data.quantity" [readonly]="true">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input placeholder="New Stock:" matInput>
      </mat-form-field>
    </div>

    <ng-template #elseDelete>
      Sure to delete <b>{{product_data.name}}?</b>
    </ng-template>
  </ng-template>
</div>
<div mat-dialog-actions align="end" class="row">
  <button mat-button class="btn btn-success" (click)="doAction()">{{action}}</button>
  <button mat-button class="btn btn-secondary" mat-dialog-close>Cancel</button>
</div>
