<div class="content-wrapper">

  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div>
      </div>
    </div>
  </div>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <div class="row" *ngIf="totalStats">
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{totalStats.productsSold}}</h3>
              <p>Products Sold</p>
            </div>
            <div class="icon">
              <i class="ion ion-pricetags"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-success">
            <div class="inner">
              <h3>{{totalStats.sales}}</h3>
              <p>Sales</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{totalStats.profits}}</h3>
              <p>Sales Profits</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{totalStats.balances}}</h3>
              <p>Balances</p>
            </div>
            <div class="icon">
              <i class="ion ion-person"></i>
            </div>
          </div>
        </div>
      </div>

      <section class="content">

        <div class="card" *ngFor="let item of stats">
          <div class="card-header bg-info pb-0" *ngIf="item.today">
            <h3>Today's Transaction</h3>
          </div>
          <div class="card-header bg-info pb-0" *ngIf="item.month">
            <h3>This Month's Transaction</h3>
          </div>
          <div class="card-header bg-info pb-0" *ngIf="item.year">
            <h3>This Year's Transaction</h3>
          </div>
          <div class="card-body">

            <div class="row" *ngIf="item.today" >
              <div class="col-12 col-sm-6 col-md-4">
                <div class="info-box mb-3 elevation-4">
                  <span class="info-box-icon bg-info elevation-1"><i class="fas fa-tags"></i></span>
                  <div class="info-box-content">
                    <h2><span class="info-box-number">{{item.today.productsSold}}</span></h2>
                    <span class="info-box-text">Products Sold</span>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-6 col-md-4">
                <div class="info-box mb-3 elevation-4">
                  <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
                  <div class="info-box-content">
                    <h2><span class="info-box-number">{{item.today.sales}}</span></h2>
                    <span class="info-box-text">Sales</span>
                  </div>
                </div>
              </div>

              <div class="clearfix hidden-md-up"></div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="info-box mb-3 elevation-4">
                  <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-signal"></i></span>
                  <div class="info-box-content">
                    <h2><span class="info-box-number">{{item.today.profits}}</span></h2>
                    <span class="info-box-text">Sales Profits</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="item.month" >
              <div class="col-12 col-sm-6 col-md-4">
                <div class="info-box mb-3 elevation-4">
                  <span class="info-box-icon bg-info elevation-1"><i class="fas fa-tags"></i></span>
                  <div class="info-box-content">
                    <h2><span class="info-box-number">{{item.month.productsSold}}</span></h2>
                    <span class="info-box-text">Products Sold</span>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-6 col-md-4">
                <div class="info-box mb-3 elevation-4">
                  <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
                  <div class="info-box-content">
                    <h2><span class="info-box-number">{{item.month.sales}}</span></h2>
                    <span class="info-box-text">Sales</span>
                  </div>
                </div>
              </div>

              <div class="clearfix hidden-md-up"></div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="info-box mb-3 elevation-4">
                  <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-signal"></i></span>
                  <div class="info-box-content">
                    <h2><span class="info-box-number">{{item.month.profits}}</span></h2>
                    <span class="info-box-text">Sales Profits</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="item.year" >
              <div class="col-12 col-sm-6 col-md-4">
                <div class="info-box mb-3 elevation-4">
                  <span class="info-box-icon bg-info elevation-1"><i class="fas fa-tags"></i></span>
                  <div class="info-box-content">
                    <h2><span class="info-box-number">{{item.year.productsSold}}</span></h2>
                    <span class="info-box-text">Products Sold</span>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-6 col-md-4">
                <div class="info-box mb-3 elevation-4">
                  <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
                  <div class="info-box-content">
                    <h2><span class="info-box-number">{{item.year.sales}}</span></h2>
                    <span class="info-box-text">Sales</span>
                  </div>
                </div>
              </div>

              <div class="clearfix hidden-md-up"></div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="info-box mb-3 elevation-4">
                  <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-signal"></i></span>
                  <div class="info-box-content">
                    <h2><span class="info-box-number">{{item.year.profits}}</span></h2>
                    <span class="info-box-text">Sales Profits</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>


      </section>

    </div>
  </section>

</div>
